<div class="flex-row row">
    <div class="col-xs-12 col-sm-12 col-lg-12">
        <div class="thumbnail">
            <div class="caption">
                <span class="title">Registros Venda</span>
                <br/>
                <table class="table table-striped">
                        <tr>
                        <th>Venda</th>
                        <th>Data de Venda</th>
                        <th>Itens Vendidos</th>
                        <th>Preço Total</th>
                        </tr>
                        <tr ng-repeat="venda in registrosVenda">
                            <td><a href="" ng-click="openDetalhesVenda(venda)">{{::venda.id}}</a></td>
                            <td>{{::venda.dataVenda | date:'medium'}}</td>
                            <td>{{::venda.itensVendidos}}</td>
                            <td>R$ {{::venda.valorTotal}}</td>
                        </tr>
                </table>
                <hr/>
            </div>
            <!-- /.caption -->
        </div>
        <!-- /.thumbnail -->
    </div>
</div>

