<div class="container">
  <div class="col-md-9">
    <div class="well">
      <div class="panel-heading c-list">
        <span class="title">Produtos</span>
        <ul class="pull-right c-controls" ng-if="admin">
          <li>
            <a class="btn btn-success" ng-click="openCreateProductDialog()">Adicionar Produto</a>
          </li>
        </ul>
      </div>

      <br>

      <div class="row">
        <div class="col-xs-12">
          <div class="input-group c-search">
            <input type="text" class="form-control" ng-model="nomeProduto" id="product-list-search">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button" ng-disabled="true">
                <span class="glyphicon glyphicon-search text-muted"></span>
              </button>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="flex-row row">
      <div class="col-xs-6 col-sm-5 col-lg-4" ng-repeat="product in productsList | filter: {nome: nomeProduto}">
        <div class="thumbnail">
          <div class="caption">
            <div ng-if="user">
              <input type="checkbox" ng-attr-id="{{'cd' + product.nome}}" ng-model="product.select" style="display: none;" ng-disabled="product.situacao === 'INDISPONIVEL'"/>
              <label style="position: relative; margin: 1px 200px auto auto;"  ng-attr-for="{{'cd' +product.nome}}">
                <i class="glyphicon" ng-class="{'glyphicon-unchecked text-info': !product.select, 'glyphicon-check text-info': product.select}" style="font-size: 24px"></i>
              </label>
            </div>
            <h4 id="product-name">
              <a href="#">{{product.nome}}</a>
            </h4>
            <h5 id="product-price">
              <div ng-if="(!product.preco && product.situacao === 'DISPONIVEL') || !product.preco && admin">
                R$ 0,00
              </div>
              <div ng-if="product.preco">
                R$ {{product.preco}}
              </div>
            </h5>
            <h5 id="product-situation">
              <div ng-if="product.situacao === 'DISPONIVEL'">
                Disponivel
              </div>
              <div ng-if="product.situacao === 'INDISPONIVEL'">
                Em falta
              </div>
            </h5>
            <div class="pull-right" ng-if="product.select">
              <br/>
              Produtos disponíveis: {{product.qtdProdutosDisponiveis}}
              <input type="number" step="0.01" class="form-control" placeholder="Quantidade a Reservar" ng-model="product.qtdReservar"/>
            </div>
            <div class="btn-group" uib-dropdown ng-if="admin">
              <button id="single-button" type="button" class="btn btn-default pull-right" uib-dropdown-toggle>
                <span class="glyphicon glyphicon-cog"></span><span class="caret"></span>
              </button>
              <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                <li role="menuitem"><a ng-click="openAtribuirPrecoParaProdutoDialog(product)">Atribuir preço</a></li>
                <li role="menuitem"><a ng-click="openCriarLoteDialog(product)">Criar lote</a></li>
              </ul>
            </div>
          </div>
          <!-- /.caption -->
        </div>
        <!-- /.thumbnail -->
      </div>
      <div class="col-lg-12 text-center" ng-show="isProductSelect(productsList)">
        <br/>
        <br/>
        <div>
          <button class="btn btn-success btn-xl" ng-click="reservaProdutos(productsList)" ><i class="glyphicon glyphicon-ok" aria-hidden="true"></i> Reservar produtos</button>
        </div>
      </div>
    </div>
    <!-- /.flex-row  -->
  </div>
</div>
